@import "bootstrap/scss/functions";

$body-color: #000000;
$font-family-sans-serif: "Open Sans", sans-serif;

$primary: #c3443e;
$secondary: #2e2e2e;

$font-weight-bolder: 800;

$enable-negative-margins: true;

$position-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1920px,
);
@import "bootstrap/scss/variables";

//Typography
$font-family-primary: $font-family-sans-serif;
$font-family-secondary: "Poppins", sans-serif;
$font-family-tertiary: "Montserrat", sans-serif;

//Colors
$mu-rojo: $primary;
$mu-rojo2: #d43e36;
$mu-amarillo: #eed861;
$mu-azul: #436fae;
$mu-verde: #60a16d;
$mu-negro: $secondary;
$mu-gris: #b7b7b7;
$mu-naranja: #f7971d;
$desactivado: #898989;
$azul-texto: #1a36a8;
$gris-boton: #f2f2fd;
$inactive-boton: #cdcdcd;
$inactive-text: #bababa;
$light-black: #141a24;

$degrade-subsecciones: linear-gradient(180deg, #1c34af 0%, #13408b 100%);
$degrade-header: linear-gradient(180deg, #13408b 0%, #1c34af 100%);
$overlay: rgba(0, 0, 0, 0.55);

$mu-fondo: linear-gradient(
  360deg,
  #ebebff 0%,
  $white 100%
); //270deg originalmente
$mu-fondo-mobile: linear-gradient(
  90deg,
  #ebebff 0%,
  $white 100%
); //270deg originalmente

$font-size-xsm: $font-size-base * 0.625;
