.terms-page {
  
  .mainContainer {
    row-gap: 64px;
    font-size:18px;
    .paragraph {
      row-gap: 32px;
      .title{
        font-size:24px;

        &--big {
          font-size: 32px;
          color: #1A36A8;
          font-weight: bold;
        }
      }

      .content{
        line-height: 25px;
      }
    }
  }
}
