.workwithus-page {
  .workWithUsContainer {
    padding: 0px 24px;

    @include media-breakpoint-up(xl) {
      padding: 0px 50px;
    }
  }

  .page-logo {
   width: 64px;
    @include media-breakpoint-up(md) {
      width: 120px;
    }
  }

  .illustration-workwithus {
    @include media-breakpoint-up(md) {
      width: 360px;
    }
  }

  .btnPostula {
    width: 200px;
    height: 56px;
  }

  .containerLaptop {
    padding: 64px 0px 100px;

    @include media-breakpoint-up(xl) {
      padding: 90px 72px 201px;
    }
  }
}
